@media screen and (max-width: 767px) {
    .img-fluid {
      max-width: 100%;
      height: auto;
    }
  }

    .container {
        max-width: 800px;
        margin: 0 auto;
        }

    body {
        background-color: rgb(7, 4, 4);
        
    }

    h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
    }
    
    h2 {
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    }
    
    h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
    }

    h1, h2, h3 {
        color: #d3cccc;
        font-family: 'Roboto', sans-serif;

    }
    
    p, ul ,li {
        color: rgb(68, 68, 66);
        font-family: 'Roboto', sans-serif;
    }
    
    ul {
    list-style: none;
    }


    hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 10px solid;
    color: #d3cccc;
    }

   
